body{
   margin: 5%;
   font-size:1em;
   background-color: darkolivegreen;
   color:cyan;
   display: flex;
   justify-content: center;
 }
button{
   color:black;
}

 #wholeDiv{
   display:flex;
   flex-direction: column;
   max-width: 76vw;
 }
 
#notifications{
   background-color:darkgrey;
   color:yellow;
   font-weight: bolder;
   text-align: center;
}

#buttonsDiv{
   display:flex;
   justify-content: space-between;
}
button #change-owner{
   display:flex;
   align-self:flex-start;

}
button #reset-wz{
   display:flex;
   align-self:flex-end
}

 .grid-container{
    margin-top:10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 76.5vw;
    max-height: 76.5vw;
    background-color:black;
    gap:0.25vw;
    border:0.25vw solid black;
    
 }

 
.myform{
   margin-bottom:20px;
}
.myform button{
   margin-bottom:20px;
}

 .sector-item{
    width: 25vw;
    height: 25vw;
    font-weight: bolder;
    font-size:inherit;
    display:flex;
    justify-content: center;
    align-items: center;
 }
/*
 .sector-item:hover{
   background-color: darkgray;
}*/

 .ek{

    background-color:brown;
 }

 .drag{

    background-color:green;
 }

 .phx{

    background-color:red;
 }


 
 #infoDiv p{
    max-width: 76vw;
    border:0.25vw solid black;
    background-color: black;
    color:antiquewhite;
    padding:5px;
 }
 

 
 
 
 
 
