body{
    margin: 5%;
    font-size:1em;
 }
 #wholeDiv{
   display:flex;
   flex-direction: column;
   max-width: 610px;
 }
button{
   font-size: 1em;
}
#buttonsDiv{
   display:flex;
   justify-content: space-between;
}
button #change-owner{
   display:flex;
   align-self:flex-start;

}
button #reset-wz{
   display:flex;
   align-self:flex-end
}

 .grid-container{
    margin-top:10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 60.5vw;
    max-height: 60.5vw;
    /* max-width: 605px;
    max-height: 605px; */
    background-color:black;
    gap:0.25vw;
    border:0.25vw solid black;
    /* gap:2.5px;
    border:2.5px solid black; */
 }

 
.myform{
   margin-bottom:20px;
}
.myform button{
   margin-bottom:20px;
}

 .sector-item{
    width: 20vw;
    height: 20vw;
    /* width:200px;
    height:200px; */
    display:flex;
    justify-content: center;
    align-items: center;
 }
 .ek{

    background-color:brown;
 }

 .drag{

    background-color:green;
 }

 .phx{

    background-color:red;
 }
 
 #infoDiv p{
    max-width: 60.5vw;
    border:0.25vw solid black;
    /* max-width: 605px;
    border:2.5px solid black; */
 }
 

 
 /*
 .grid-item:hover{
     background-color: darkgray;
 }
 */
 